

.swefminer-column-perms {
	width:              30vw;
}


div.swefminer-form-table {
    left:               8vw !important;
    width:              90vw !important;
    height:             95vh !important;
}

