

.swefminer-perms {
	width:              40vw;
    height:             auto;
}


.swefminer-foreign {
	color:              #dd5500;
}


div.swefminer-form-table {
    left:               8vw !important;
    width:              90vw !important;
    height:             95vh !important;
}

