<?php

// User interaction
define ( 'swefminer_uri_browse',            '/mine'                                                         );

// Database called "example"
//define ( 'swefminer_db_dsn_example',      'mysql:host=localhost;dbname=my_db;port=3306;charset=utf8'      );
//define ( 'swefminer_db_usr_example',      'my_usr'                                                        );
//define ( 'swefminer_db_pwd_example',      'my_pwd'                                                        );
//define ( 'swefminer_db_mod_example',      true                                                            );
//define ( 'swefminer_db_tag_example',      'My Example Database'                                           );

?>
